<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
    <title>USRPS</title>
</head>
<body>

<div class="wrapper">

    <div class="navigation">
        <form action="index.php">
            <input type="submit" value="Home"/>
        </form>

        <form action="delete.php">
            <input type="submit" value="Delete"/>
        </form>

        <form action="insert.php">
            <input type="submit" value="Insert"/>
        </form>

    </div>

    <div class="games">
        <div class="gameTitle">
            <h1> Player Insert </h1>
        </div>

        <div class="extraInfo">
            <form method="post">
                <label for="firstName">First Name: </label>
                <input type="text" name="firstName">
                <br><br>
                <label for="lastName">Last Name: </label>
                <input type="text" name="lastName">
                <br><br>
                <input type="submit" name="insertUserButton" value="Insert User"/>
            </form>
        </div>

    </div>


    <div class="games">
        <div class="gameTitle">
            <h1> Round Insert </h1>
        </div>
        <div class="extraInfo">
            <form method="post">
                <label for="player1">Player 1*:</label>
                <select name="player0" id="player1">
                    {% for player in players %}
                    <option value="{{ player['pk_ID'] }}">{{ player['firstName'] }} {{ player['lastName'] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="player2">Player 2*:</label>
                <select name="player1" id="player2">
                    {% for player in players %}
                    <option value="{{ player['pk_ID'] }}">{{ player['firstName'] }} {{ player['lastName'] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="pick0">Pick Player 1*: </label>
                <select name="pick0" id="pick0">
                    <option value="r">Rock</option>
                    <option value="p">Paper</option>
                    <option value="s">Scissors</option>
                </select><br>
                <label for="pick1">Pick Player 2*: </label>
                <select name="pick1" id="pick1">
                    <option value="r">Rock</option>
                    <option value="p">Paper</option>
                    <option value="s">Scissors</option>
                </select>
                <br><br>
                <label for="date">Date*: </label>
                <input type="datetime-local" name="date">
                <br><br>
                <label for="winner">Winner: </label>
                <input type="number" name="winner" min="1" max="2">
                <br><br>
                <input type="submit" name="insertGameButton" value="Insert Game"/>
            </form>
        </div>

    </div>


</div>


</body>
</html>